<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Build Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/infoboxes.css}" />
</head>
<body>
    <div class="info-box-container">
        <div class="info-box">
            <a th:href="@{/actuator}">Actuator</a><br/>
            <a th:href="@{/actuator/info}">Actuator Info</a>
        </div>

        <div class="info-box">
            <span class="label">Spring version: </span>
            <span class="value" th:text="${springVersion}">N/A</span>
        </div>

        <div class="info-box">
            <span class="label">JDK version from pom.xml via application.properties: </span>
            <span class="value" th:text="${jdkVersion}">N/A</span>
        </div>

        <div class="info-box">
            <span class="label">Spring Boot version from pom.xml via application.properties: </span>
            <span class="value" th:text="${springBootVersion}">N/A</span>
        </div>

        <div class="info-box">
            <span class="label">Application name from Maven via application.properties: </span>
            <span class="value" th:text="${applicationName}">N/A</span>
        </div>

        <div class="info-box">
            <span class="label">Build version from Maven via application.properties: </span>
            <span class="value" th:text="${buildVersion}">N/A</span>
        </div>

        <div class="info-box">
            <span class="label">Build timestamp from Maven via application.properties: </span>
            <span class="value" th:text="${buildTimestamp}">N/A</span>
        </div>
    <div class="return-container">
        <a class="button" th:href="@{/}">← Go back</a>
    </div>
    </div>
</body>
</html>