<html xmlns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-title">User info</div>
            <div class="card-description">Get current user info.</div>
            <a class="button" th:href="@{/userinfo}">Go</a>
        </div>
        <div class="card">
            <div class="card-title">Build info</div>
            <div class="card-description">Get application build info.</div>
            <a class="button" th:href="@{/buildinfo}">Go</a>
        </div>
        <div class="card">
            <div class="card-title">CRUD Implementation</div>
            <div class="card-description">Check out the CRUD mysql implementation.</div>
            <a class="button" th:href="@{/showtasks}">Go</a>
        </div>
    </div>
</body>
</html>
