<html xmlns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">
    <head>
        <title>SpringMvcShowcase</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <a th:href="@{/actuator}">Actuator</a> <br />
            <a th:href="@{/actuator/info}">Actuator Info</a> <br />
        </div>

        Spring version: <span th:text="${springVersion}">N/A</span> <br />

        JDK version from pom.xml via application.properties: 
        <span th:text="${jdkVersion}">N/A</span> <br />

        Spring Boot version from pom.xml via application.properties: 
        <span th:text="${springBootVersion}">N/A</span> <br />

        Application name from Maven via application.properties: 
        <span th:text="${applicationName}">N/A</span> <br />

        Build version from Maven via application.properties: 
        <span th:text="${buildVersion}">N/A</span> <br />

        Build timestamp from Maven via application.properties: 
        <span th:text="${buildTimestamp}">N/A</span> <br />

        <h1 th:text="${counterValue}"></h1>
    </body>
</html>
