<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-title">User info</div>
            <div class="card-description">
                Get current authenticated user info from Spring Security session and components.
            </div>
            <a class="button" th:href="@{/userinfo}">Go</a>
        </div>
        <div class="card">
            <div class="card-title">Build info</div>
            <div class="card-description">
                See build details from Spring Boot Actuator and Maven properties files.
            </div>
            <a class="button" th:href="@{/buildinfo}">Go</a>
        </div>
        <div class="card">
            <div class="card-title">CRUD with JPA & Hibernate</div>
            <div class="card-description">
                Explore CRUD operations using Spring Data JPA and Hibernate ORM entities.
            </div>
            <a class="button" th:href="@{/showtasks}">Go</a>
        </div>
        <div class="card">
            <div class="card-title">RESTful API Endpoint</div>
            <div class="card-description">
                Retrieve all tasks as JSON via a REST GET endpoint for front-end use.
            </div>
            <a class="button" th:href="@{/tasks/}">Go</a>
        </div>
        <div class="card">
            <div class="card-title">Websocket Chart</div>
            <div class="card-description">
                Websocket implementing random json sending.
            </div>
            <a class="button" th:href="@{/webSocketJson/}">Go</a>
        </div>
    </div>
    <div class="logout-container">
        <a class="logout-button" th:href="@{/logout}">Logout</a>
    </div>
</body>
</html>
